@charset "UTF-08";

:root {
    --manha: #C2AF2D;
    --tarde: #CC975F;
    --noite: #584C7A;
}

body {
    background-color: darkcyan;
    font: normal 15px arial;
}

header {
    color: white;
    text-align: center;

}

section {
    background-color: white;
    width: 400px;
    height: 300px;
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    box-shadow: 3px 3px 10px black;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}