@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

body {
    background-color: rgba(214, 214, 16, 0.932);
    color: rgb(0, 110, 255);
    font-family: 'Teko', sans-serif;
    font-weight: lighter;
    font-size: 2.4em;
    text-align: center;
}

main {
    background-color: white;
    width: 600px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgb(0, 110, 255);
    text-shadow: 1px 1px 1px rgb(0, 110, 255);
}
